.products {
    min-width: 880px;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.products__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 24px;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}

.products__list_triple {
    grid-template-columns: 1fr 1fr 1fr;
}

.products__title_no-margin {
    margin-bottom: 0;
}

.products__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}