.profile {
    margin-bottom: 68px;
}

.profile__card {
    display: flex;
    align-items: center;
}

.profile__pfp {
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

.profile__pfp-wrap {
    margin-right: 68px;
    position: relative;
}

.profile__pfp-form {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.profile__pfp-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.profile__card-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 460px;
}