:root {
    --main-white: #FFFFFF;
    --main-bg: #F3F3F3;
    --main-dark-bg: #2C2C2F;
    --main-accent: #FF2936;
    --main-accent-dark: #DC1B26;
    --main-text: #000;
    --main-text-blink: #AAAAAA;
    --main-green: #77E983;
    --main-yellow: #E9D077;
}