@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import "./blocks/header/header.css";
@import "./blocks/main/main.css";
@import "./blocks/intro/intro.css";
@import "./blocks/products/products.css";
@import "./blocks/product-card/product-card.css";
@import "./blocks/rating/rating.css";
@import "./blocks/category-card/category-card.css";
@import "./blocks/footer/footer.css";
@import "./blocks/filter/filter.css";
@import "./blocks/checkbox/checkbox.css";
@import "./blocks/input/input.css";
@import "./blocks/price-filter/price-filter.css";
@import "./blocks/pagination/pagination.css";
@import "./blocks/link/link.css";
@import "./blocks/button/button.css";
@import "./blocks/authentication/authentication.css";
@import "./blocks/product/product.css";
@import "./blocks/reviews/reviews.css";
@import "./blocks/review/review.css";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}